.side-bar{
  display:flex;
  flex-direction: column;
  width: 80px;
  background-color: white;
  position:fixed;
  top:60px;
  left:0;
  bottom: 0;
  padding-top:20px;
  z-index: 2;

}
.side-bar button{
  background-color: white;
  border:none;
  padding-top:20px;
}
.side-bar button:hover {
  background-color:rgb(218, 215, 215);
  cursor:pointer;
  border-radius:5px;
}
.side-bar img{
  height:25px;
}
.side-bar p{
  font-size: 10px;
  color: rgb(77, 76, 76);
  margin-bottom:10px;
}


